<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahmed.thequizapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Cs Quiz"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Category"></activity>
        <activity android:name=".about" />
        <activity android:name=".StartingScreenActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuizActivity" />
    </application>

</manifest>